<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Blog</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <!-- js -->
    <script th:inline="javascript" th:src="@{/scripts/jquery.min.js}"></script>
    <script th:inline="javascript" th:src="@{/scripts/skel.min.js}"></script>
    <script th:inline="javascript" th:src="@{/scripts/util.js}"></script>
    <script th:inline="javascript" th:src="@{/scripts/jquery.wmuSlider.js}"></script>
    <!--[if lte IE 8]><script th:src="@{../scripts/ie/respond.min.js}"></script><![endif]-->
    <script th:inline="javascript" th:src="@{/scripts/main.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function(){
            var user = /*[[${user.getName()}]]*/;
            var viewUser = /*[[${viewUser.getName()}]]*/;
            if (user == viewUser){
                $("#follow").hide();
            }
        }


        function searchUser() {
            var name = $("#sreachUser").val();
            $.ajax({
                url: '/test/search',
                type:"post",
                data:{"username":name},
                dataType:"json",
                success: function (result) {
                    var temp = result.name;
                    var u_li ='<ul class="links">';
                        u_li+= '<li>';
                        u_li+='<a href="#">';
                        u_li+='<h3>Lorem ipsum</h3>';
                        u_li+='<p>'+temp+'</p>';
                        u_li+='</a>';
                        u_li+='</li>';
                        u_li+='</ul>';
                    var $li = $(u_li);
                    $("#searchResult").append($li);
                }
            });
        }
        function follow() {
            var userId = /*[[${user.getId()}]]*/;
            var followeeId = /*[[${viewUser.getId()}]]*/;
            var follow =$("#follow").text();
            if (follow=="加关注"){
                $.ajax({
                    url:"/followUser",
                    type:"post",
                    data:{"userId":userId,"followeeId":followeeId},
                    dataType:"json",
                    success:function(result) {
                        if (result.code==0){
                            $("#follow").val(false);
                            $("#follow").text("已关注")
                        }
                    }
                })
            }else{
                $.ajax({
                    url:"/unfollowUser",
                    type:"post",
                    data:{"userId":userId,"followeeId":followeeId},
                    dataType:"json",
                    success:function(result) {
                        if (result.code==0){
                            $("#follow").val(true);
                            $("#follow").text("加关注")
                        }
                    }
                })
            }
        }

/*        function follower() {
            ${"#follower-tab"}.show();
            ${"#followee-tab"}.hide();
        }
        function followee() {
                    ${"#follower-tab"}.hide();
                    ${"#followee-tab"}.show();
                }*/
        /*]]>*/
    </script>
    <!-- //js -->
</head>
<p>
    <div id="wrapper">
		<header id="header">
            <h1>
                <ul class="main">
                    <li style="border-color: #3c3b3b;">
                        <img style="border-color: #3c3b3b; padding: 1px; height: 50px;width: 50px;margin-top: 3px;margin-left: 10px" th:src="@{'http:'+${user.getHeadUrl()}?:'\ueditor\jsp\upload\image\default\headimg.jpg'}"/>
                    </li>
                    <li>
                        <a th:text="${user.getName()}"></a>
                    </li>
                </ul>
            </h1>
            <nav class="main">
                <form style="display: inline;margin: 0px;float:right;">
                    <input type="text"  placeholder="Search for..." style="display: inline">
                    <span  style="display: inline">
                        <button class="fa-bars"  type="submit">Go!</button>
                    </span>

                </form>
            </nav>
        </header>
    </div>
<!-- banner-body -->
	<div class="banner-body">

		<div class="container">
			<div class="banner-body-content">
			<div class="col-xs-3 banner-body-left">
				<div class="logo">
					<h1><a th:href="@{/setting}" class="logo_head"><img  th:src="@{'http:'+${viewUser.getHeadUrl()}?:'\ueditor\jsp\upload\image\default\headimg.jpg'}"/> </a></h1>
                    <h1><a th:text="${viewUser.name}" style="margin-top: 10px"></a></h1>
                </div>
                <div class="clearfix" style="height: 20px"> </div>
                <div class="join" >
                    <a href="javascript:;" onclick="follow()" id="follow" th:value="${follow}?:'false'" th:text="${follow}?'已关注':'加关注'"></a>
                </div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="stroke">
								<ul class="nav navbar-nav">
                                    <li><a th:href="@{'/user/'+${viewUser.getId()}}" class="hvr-underline-from-left"><i class="edit"></i>Home</a></li>
									<li><a th:href="@{/photo}" class="hvr-underline-from-left"><i class="picture1"></i>Photos</a></li>
                                    <li><a th:href="@{'/user/'+${viewUser.getId()}+'/blog'}" class="hvr-underline-from-left"><i class="home1"></i>Blog</a></li>
									<li><a th:href="@{/editor}"><i class="text-size1"></i>Editor</a></li>
									<li class="active"><a th:href="@{'/user/'+${viewUser.getId()}+'/friends'}" class="hvr-underline-from-left"><i class="envelope1"></i>Friends</a></li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
                <div class="latest-news">
                    <h2>Latest News</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Michael Vol
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Andrew Rich
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Rita Rock
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="join">
                        <a href="detail.html">Learn More</a>
                    </div>
                    <h3>Benefits</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </div>
			</div>
            <div class="col-xs-9 banner-body-right">
                <div class="gallery-head">
                    <h5><span th:text="${viewUser.getName()}"></span>认识的其他鸟</h5>
                    <p th:text="${viewUser.getSignature()}"></p>
                </div>
                <p class="grid_3 grid_5">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#follower" id="follower-tab" role="tab" data-toggle="tab" aria-controls="follower" aria-expanded="true">关注者</a></li>
                            <li role="presentation"><a href="#followee" role="tab" id="followee-tab" data-toggle="tab" aria-controls="followee">被关注者</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="follower" aria-labelledby="follower-tab">
                                <div class="tom-grid" th:each="follower:${followers}">
                                    <div class="tom">
                                        <img th:src="@{'http:'+${follower.getHeadUrl()}}" />
                                    </div>
                                    <div class="tom-right" >
                                        <div class="Hardy">
                                            <h4 style="margin:5px 0 15px 0;"><a style="font-size:25px; " th:href="@{'/user/'+${follower.getId()}}" th:text="${follower.getName()}"></a></h4>
                                            <p><label  style="font-size: 16px" th:text="${follower.getSignature()}"></label></p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="followee" aria-labelledby="followee-tab" >
                                <div class="tom-grid" th:each="followee:${followees}">
                                    <div class="tom">
                                        <img th:src="@{'http:'+${followee.getHeadUrl()}}" />
                                    </div>
                                    <div class="tom-right" >
                                        <div class="Hardy">
                                            <h4 style="margin:5px 0 15px 0;"><a style="font-size:25px; " th:href="@{'/user/'+${followee.getId()}}" th:text="${followee.getName()}"></a></h4>
                                            <p><label style="font-size: 16px" th:text="${followee.getSignature()}"></label></p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
<!--			<div class="clearfix"> </div>-->

			<div class="clearfix"> </div>
			<div class="footer">
				<div class="footer-left">
					<ul>
						<li><a href="#">Privacy Policy</a>|</li>
						<li><a href="#">Terms of Use</a>|</li>
						<li><a href="mail.html">Contact Us</a></li>
					</ul>
					<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>
				<div class="footer-right">
					<ul class="social-nav model-3">
						<li><a href="#" class="icon icon-border facebook"></a></li>
						<li><a href="#" class="icon icon-border twitter"></a></li>
						 <li><a href="#" class="icon icon-border googleplus"></a></li>
						 <li><a href="#" class="icon icon-border github"></a></li>
						 <li><a href="#" class="icon icon-border rss"></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
	</div>
<!-- //banner-body -->
<!-- for bootstrap working -->
	<script th:src="@{/scripts/bootstrap.js}"></script>
<!-- //for bootstrap working -->
</body>
</html>