<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <!-- js -->
    <script th:inline="javascript" th:src="@{/scripts/jquery.min.js}"></script>
    <script th:inline="javascript" th:src="@{/scripts/skel.min.js}"></script>
    <script th:inline="javascript" th:src="@{/scripts/util.js}"></script>
    <!--[if lte IE 8]><script th:src="@{../scripts/ie/respond.min.js}"></script><![endif]-->
    <script th:inline="javascript" th:src="@{/scripts/main.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function(){
            var user = /*[[${user.getName()}]]*/;
            var viewUser = /*[[${viewUser.getName()}]]*/;
            if (user == viewUser){
                $("#follow").hide();
            }
        }
        function follow() {
            var userId = /*[[${user.getId()}]]*/;
            var followeeId = /*[[${viewUser.getId()}]]*/;
            var follow =$("#follow").text();
            if (follow=="加关注"){
                $.ajax({
                    url:"/followUser",
                    type:"post",
                    data:{"userId":userId,"followeeId":followeeId},
                    dataType:"json",
                    success:function(result) {
                        if (result.code==0){
                            $("#follow").val(false);
                            $("#follow").text("已关注")
                        }
                    }
                })
            }else{
                $.ajax({
                    url:"/unfollowUser",
                    type:"post",
                    data:{"userId":userId,"followeeId":followeeId},
                    dataType:"json",
                    success:function(result) {
                        if (result.code==0){
                            $("#follow").val(true);
                            $("#follow").text("加关注")
                        }
                    }
                })
            }
        }
        /*]]>*/
    </script>
    <!-- //js -->
</head>
<body>
    <div id="wrapper">
		<header id="header">
            <h1>
                <ul class="main">
                    <li style="border-color: #3c3b3b;">
                        <a th:href="@{'/user/'+${user.getId()}}">
                            <img style="border-color: #3c3b3b; padding: 1px; height: 50px;width: 50px;margin-top: 3px;margin-left: 10px" th:src="@{'http:'+${user.getHeadUrl()}?:'\ueditor\jsp\upload\image\default\headimg.jpg'}"/>
                        </a>
                    </li>
                    <li>
                        <a th:text="${user.getName()}" ></a>
                    </li>
                </ul>
            </h1>
            <nav class="main">
                <form style="display: inline;margin: 0px;float:right;">
                    <input type="text"  placeholder="Search for..." style="display: inline">
                    <span  style="display: inline">
                        <button class="fa-bars"  type="submit">Go!</button>
                    </span>

                </form>
            </nav>
        </header>
    </div>
<!-- banner-body -->
	<div class="banner-body">

		<div class="container">
			<div class="banner-body-content">
			<div class="col-xs-3 banner-body-left">
				<div class="logo">
					<h1><a th:href="@{/setting}" class="logo_head"><img  th:src="@{'http:'+${viewUser.getHeadUrl()}?:'\ueditor\jsp\upload\image\default\headimg.jpg'}"/> </a></h1>
                    <h1><a th:text="${viewUser.name}" style="margin-top: 10px"></a></h1>
                </div>
                <div class="clearfix" style="height: 20px"> </div>
                <div class="join" >
                    <a href="javascript:;" onclick="follow()" id="follow" th:value="${follow}?:'false'" th:text="${follow}?'已关注':'加关注'"></a>
                </div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="stroke">
								<ul class="nav navbar-nav">
                                    <li class="active"><a th:href="@{'/user/'+${viewUser.getId()}}"><i class="edit"></i>Home</a></li>
									<li><a th:href="@{/photo}" class="hvr-underline-from-left"><i class="picture1"></i>Photos</a></li>
                                    <li><a th:href="@{'/user/'+${viewUser.getId()}+'/blog'}" class="hvr-underline-from-left"><i class="home1"></i>Blog</a></li>
									<li><a th:href="@{/editor}" class="hvr-underline-from-left"><i class="text-size1"></i>Editor</a></li>
									<li><a th:href="@{'/user/'+${viewUser.getId()}+'/friends'}" class="hvr-underline-from-left"><i class="envelope1"></i>Friends</a></li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
                <div class="latest-news">
                    <h2 >Latest News</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                        <div class="panel panel-default" th:each="message:${messages}" >
                            <div class="panel-heading" role="tab" th:id="'heading'+${message.get('index')}">
                                <h4 class="panel-title">
                                    <a th:text="'来自'+${message.get('fromUser')}+'的消息'"  role="button" data-toggle="collapse" data-parent="#accordion" th:href="'#collapse'+${message.get('index')}" aria-expanded="false" th:aria-controls="'collapse'+${message.get('index')}">
                                    </a>
                                </h4>
                            </div>
                            <div th:id="'collapse'+${message.get('index')}" class="panel-collapse collapse in" role="tabpanel" th:aria-labelledby="'heading'+${message.get('index')}">
                                <div class="panel-body" th:text="${message.get('content')}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="join">
                        <a href="detail.html">Learn More</a>
                    </div>
                </div>
			</div>
            <div class="col-xs-9 banner-body-right">
                    <div class="gallery-head">
                        <h5><span th:text="${viewUser.getName()}"></span>的窝</h5>
                        <p th:text="${viewUser.getSignature()}"></p>
                    </div>
                    <div class="blog">
                        <!--博客列表-->
                        <div class="blog-grid" th:each="blogMap:${blogs}">
                            <div class="col-xs-4 blog-grid-left" >
                                <a th:href="@{'/blog/'+ ${blogMap.get('blog').getBlogId()}}">
                                    <img th:src="@{'http:'+${blogMap.get('blog').getImgsrc()}}" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-xs-8 blog-grid-right">
                                <h4><a th:href="@{'/blog/'+ ${blogMap.get('blog').getBlogId()}}" th:text="${blogMap.get('blog').getBlogTitle()}?:'meiyoushuju'"/><p th:text="${#dates.format(blogMap.get('blog').getCreatedDate(),'yyyy-MM-dd HH:mm:ss')}?:'no date'"></p></h4>
                                <div class="content_home"><p th:utext="${blogMap.get('blog').getContent()}"></p></div>
                                <a href="#"><span th:text="${blogMap.get('count')}"></span>条评论</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="msg-text-bottom">
                        <div class="col-md-4 msg-text-bottom-left">
                            <figure class="effect-winston">
                                <a href="detail.html"><img src="../images/4.jpg" alt=" " class="img-responsive" />
                                    <figcaption>

                                    </figcaption>
                                </a>
                            </figure>
                            <h3><a href="detail.html">vel illum qui dolorem</a></h3>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit, sed quia.</p>
                        </div>
                        <div class="col-md-4 msg-text-bottom-left">
                            <figure class="effect-winston">
                                <a href="detail.html"><img src="../images/5.jpg" alt=" " class="img-responsive" />
                                    <figcaption>

                                    </figcaption>
                                </a>
                            </figure>
                            <h3><a href="detail.html">quia dolor sit amet</a></h3>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit, sed quia.</p>
                        </div>
                        <div class="col-md-4 msg-text-bottom-left">
                            <figure class="effect-winston">
                                <a href="detail.html"><img src="../images/6.jpg" alt=" " class="img-responsive" />
                                    <figcaption>

                                    </figcaption>
                                </a>
                            </figure>
                            <h3><a href="detail.html">porro quisquam est</a></h3>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit, sed quia.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
<!--			<div class="clearfix"> </div>-->

			<div class="clearfix"> </div>
			<div class="footer">
				<div class="footer-left">
					<ul>
						<li><a href="#">Privacy Policy</a>|</li>
						<li><a href="#">Terms of Use</a>|</li>
						<li><a href="mail.html">Contact Us</a></li>
					</ul>
					<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>
				<div class="footer-right">
					<ul class="social-nav model-3">
						<li><a href="#" class="icon icon-border facebook"></a></li>
						<li><a href="#" class="icon icon-border twitter"></a></li>
						 <li><a href="#" class="icon icon-border googleplus"></a></li>
						 <li><a href="#" class="icon icon-border github"></a></li>
						 <li><a href="#" class="icon icon-border rss"></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
	</div>
<!-- //banner-body -->
<!-- for bootstrap working -->
	<script src="/scripts/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>